<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.1.35" manuallyInstalled="true" />
  <package id="Humanizer.Core" version="2.8.26" />
  <package id="Microsoft.Data.Sqlite.Core" version="8.0.3" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="SQLitePCLRaw.bundle_green" version="2.1.8" manuallyInstalled="true" />
  <package id="SQLitePCLRaw.core" version="2.1.8" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.8" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="2.1.8" />
  <package id="SqlKata" version="2.4.0" manuallyInstalled="true" />
  <package id="SqlKata.Execution" version="2.4.0" manuallyInstalled="true" />
  <package id="StbImageSharp" version="2.27.14" manuallyInstalled="true" />
</packages>